{
    "domA_folder": "domA",
    "domB_folder": "domB",
    "num_filters": 64,
    "init_stddev": 0.02,
    "batch_size": 2,
    "patch_padding": 0,
    "epochs": 20,
    "gen_eta": 1e-4,
    "disc_eta": 1e-4,
    "patch_size": 100,
    "train_data_limit": 5,
    "restore_checkpoint": "no",
    "flatten_discriminator": "yes",
    "content_w": 1.0,
    "color_w": 1,
    "texture_w": 1,
    "tv_w": 1,
    "use_cycle_gan": "no",
    "test_img_path": "./test_data",
    "discrim_epochs": 1, 
    "generator_epochs": 3,
    "label_flipping_period": 3,
    "discrim_noise_stddev": 0.02

}
