{
    "domA_folder": "200224_LQ",
    "domB_folder": "200224_HQ",
    "data_corruption_types": ["gauss", "blur"],
    "num_filters": 64,
    "init_stddev": 0.02,
    "batch_size": 20,
    "save_ckpt_folder": "cycle_loss_scratch_new_weights",
    "load_ckpt_folder": "cycle_loss_scratch_new_weights",
    "epochs": 100,
    "gen_eta": 1e-4,
    "disc_eta": 5e-6,
    "patch_size": 128,
    "content_w": 1.0,
    "color_w": 0.1,
    "texture_w": 0.1,
    "tv_w": 100.0,
    "use_cycle_gan": "no",
    "discrim_epochs": 1, 
    "generator_epochs": 3,
    "label_flipping_period": 50,
    "discrim_noise_stddev": 0.001,
    "test_img_path": "./test_data",
    "label_smoothing": 1,
    "prefer_generator": 0,
    "consistency_loss": 1
}
