{
    "domA_folder": "200224_LQ",
    "domB_folder": "200224_HQ",
    "data_corruption_types": ["gauss", "blur"],
    "num_filters": 64,
    "init_stddev": 0.02,
    "batch_size": 20,
    "save_ckpt_folder": "marc_data_mar6",
    "load_ckpt_folder": "marc_data_mar6",
    "epochs": 2,
    "gen_eta": 1e-4,
    "disc_eta": 1e-5,
    "patch_size": 128,
    "content_w": 1.0,
    "color_w": 0.001,
    "texture_w": 0.01,
    "tv_w": 10.0,
    "use_cycle_gan": "no",
    "discrim_epochs": 3, 
    "generator_epochs": 2,
    "label_flipping_period": 10,
    "discrim_noise_stddev": 0.02,
    "test_img_path": "./test_data",
    "label_smoothing": 1,
    "prefer_generator": 0
}
