{
    "domA_folder": "domA",
    "domB_folder": "domB",
    "num_filters": 64,
    "init_stddev": 0.02,
    "batch_size": 1,
    "epochs": 1,
    "gen_eta": 1e-4,
    "disc_eta": 1e-4,
    "patch_size": 100,
    "save_ckpt_folder": "synth_data_with_preloaded_weights",
    "content_w": 1.0,
    "color_w": 0.001,
    "texture_w": 0.001,
    "tv_w": 10.0,
    "use_cycle_gan": "no",
    "discrim_epochs": 1, 
    "generator_epochs": 3,
    "label_flipping_period": 10,
    "discrim_noise_stddev": 0.01,
    "test_img_path": "./test_data"
}
